In [1]:
#Importing CryptoCurrency EXchange Trading Library
# ccxt library supports the following crypto exchanges: Binance,Coinbase Pro,Kraken,Bitstamp,KuCoin,Bittrex,Bitfinex,Poloniex
import ccxt
import pandas as pd
import datetime

In [2]:
# Create an instance of the exchange
exchange = ccxt.binance()

# Define the symbol and timeframe
symbol = 'BTC/USDT'
timeframe = '1d'

# Set the start and end dates
start_date = datetime.datetime(2021, 1, 1)
end_date = datetime.datetime(2023, 5, 1)

# Convert the dates to timestamps
start_timestamp = int(start_date.timestamp() * 1000)
end_timestamp = int(end_date.timestamp() * 1000)

# Fetch the OHLCV data
ohlcv_data = exchange.fetch_ohlcv(symbol, timeframe, start_timestamp, limit=1000)

# Convert the data to a DataFrame
BTC_historical = pd.DataFrame(ohlcv_data, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume'])

# Convert the timestamp column to DateTime
BTC_historical['timestamp'] = pd.to_datetime(BTC_historical['timestamp'], unit='ms')

# Set the timestamp column as the index
BTC_historical.set_index('timestamp', inplace=True)

# Perform slice indexing
BTC_historical = BTC_historical.loc[start_date:end_date]
BTC_historical

                open      high       low     close         volume
timestamp
2021-01-02  29331.70  33300.00  28946.53  32178.33  129993.873362
2021-01-03  32176.45  34778.11  31962.99  33000.05  120957.566750
2021-01-04  33000.05  33600.00  28130.00  31988.71  140899.885690
2021-01-05  31989.75  34360.00  29900.00  33949.53  116049.997038
2021-01-06  33949.53  36939.21  33288.00  36769.36  127139.201310
...              ...       ...       ...       ...            ...
2023-04-27  28415.29  29890.00  28378.86  29472.77   95430.824310
2023-04-28  29472.77  29599.54  28891.00  29311.70   54298.165780
2023-04-29  29311.69  29448.88  29031.00  29230.45   20466.830580
2023-04-30  29230.45  29969.39  29079.59  29233.21   39752.537200
2023-05-01  29233.20  29337.34  27666.95  28068.26   64433.659580

[850 rows x 5 columns]

In [3]:
# Create an instance of the exchange
exchange = ccxt.kraken()

# Define the symbol and timeframe
symbol = 'ETH/USD'
timeframe = '1d'

# Set the start and end dates
start_date = datetime.datetime(2021, 1, 1)
end_date = datetime.datetime(2023, 5, 1)

# Convert the dates to timestamps
start_timestamp = int(start_date.timestamp() * 1000)
end_timestamp = int(end_date.timestamp() * 1000)

# Fetch the OHLCV data
ohlcv_data = exchange.fetch_ohlcv(symbol, timeframe, start_timestamp, limit=1000)

# Convert the data to a DataFrame
ETH_historical = pd.DataFrame(ohlcv_data, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume'])

# Convert the timestamp column to DateTime
ETH_historical['timestamp'] = pd.to_datetime(ETH_historical['timestamp'], unit='ms')

# Set the timestamp column as the index
ETH_historical.set_index('timestamp', inplace=True)

# Perform slice indexing
ETH_historical = ETH_historical.loc[start_date:end_date]
ETH_historical

               open     high      low    close         volume
timestamp
2021-06-05  2692.46  2817.23  2548.12  2627.81  102221.097418
2021-06-06  2627.68  2747.44  2615.66  2712.03   66369.482687
2021-06-07  2711.78  2848.00  2570.33  2593.69  109688.590190
2021-06-08  2592.86  2621.65  2310.20  2509.56  135382.838673
2021-06-09  2509.15  2626.28  2408.28  2608.10   89636.281294
...             ...      ...      ...      ...            ...
2023-04-27  1866.15  1940.15  1861.86  1908.78   41127.290243
2023-04-28  1908.73  1923.59  1875.11  1892.70   20958.850906
2023-04-29  1892.70  1919.30  1884.59  1908.26    6701.729233
2023-04-30  1908.39  1939.00  1866.65  1869.58   17871.966215
2023-05-01  1869.58  1885.96  1805.98  1831.76   25214.553920

[696 rows x 5 columns]

In [4]:
# Create an instance of the exchange
exchange = ccxt.kucoin()

# Define the symbol and timeframe
symbol = 'ADA/USDT'
timeframe = '1d'

# Set the start and end dates
start_date = datetime.datetime(2021, 1, 1)
end_date = datetime.datetime(2023, 5, 1)

# Convert the dates to timestamps
start_timestamp = int(start_date.timestamp() * 1000)
end_timestamp = int(end_date.timestamp() * 1000)

# Fetch the OHLCV data
ohlcv_data = exchange.fetch_ohlcv(symbol, timeframe, start_timestamp, limit=1000)

# Convert the data to a DataFrame
ADA_historical = pd.DataFrame(ohlcv_data, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume'])

# Convert the timestamp column to DateTime
ADA_historical['timestamp'] = pd.to_datetime(ADA_historical['timestamp'], unit='ms')

# Set the timestamp column as the index
ADA_historical.set_index('timestamp', inplace=True)

# Perform slice indexing
ADA_historical = ADA_historical.loc[start_date:end_date]
ADA_historical

                open      high       low     close        volume
timestamp
2021-01-02  0.174940  0.184421  0.168156  0.177298  2.090487e+07
2021-01-03  0.177483  0.209563  0.172699  0.205967  3.421393e+07
2021-01-04  0.206299  0.240000  0.192002  0.225375  3.979872e+07
2021-01-05  0.225223  0.264148  0.206828  0.258911  5.021225e+07
2021-01-06  0.258890  0.347951  0.253551  0.333563  8.051606e+07
...              ...       ...       ...       ...           ...
2023-04-27  0.401382  0.418601  0.400849  0.410037  2.091662e+07
2023-04-28  0.409989  0.410934  0.397040  0.404402  1.125889e+07
2023-04-29  0.404417  0.407689  0.399330  0.402389  7.030823e+06
2023-04-30  0.402395  0.414930  0.394490  0.395631  1.046483e+07
2023-05-01  0.395650  0.397929  0.380259  0.386711  1.304925e+07

[850 rows x 5 columns]

In [5]:
# Create an instance of the exchange
exchange = ccxt.binance()

# Define the symbol and timeframe
symbol = 'MATIC/USDT'
timeframe = '1d'

# Set the start and end dates
start_date = datetime.datetime(2021, 1, 1)
end_date = datetime.datetime(2023, 5, 1)

# Convert the dates to timestamps
start_timestamp = int(start_date.timestamp() * 1000)
end_timestamp = int(end_date.timestamp() * 1000)

# Fetch the OHLCV data
ohlcv_data = exchange.fetch_ohlcv(symbol, timeframe, start_timestamp, limit=1000)

# Convert the data to a DataFrame
MATIC_historical = pd.DataFrame(ohlcv_data, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume'])

# Convert the timestamp column to DateTime
MATIC_historical['timestamp'] = pd.to_datetime(MATIC_historical['timestamp'], unit='ms')

# Set the timestamp column as the index
MATIC_historical.set_index('timestamp', inplace=True)

# Perform slice indexing
MATIC_historical = MATIC_historical.loc[start_date:end_date]
MATIC_historical

               open     high      low    close        volume
timestamp
2021-01-02  0.01776  0.01960  0.01715  0.01904  2.713585e+08
2021-01-03  0.01906  0.02070  0.01878  0.01997  2.856918e+08
2021-01-04  0.01997  0.02499  0.01951  0.02468  6.607253e+08
2021-01-05  0.02468  0.02708  0.02351  0.02440  9.157635e+08
2021-01-06  0.02439  0.03673  0.02385  0.03555  1.814721e+09
...             ...      ...      ...      ...           ...
2023-04-27  0.98580  1.03100  0.97870  1.01220  7.891065e+07
2023-04-28  1.01220  1.01610  0.97970  0.99840  5.174845e+07
2023-04-29  0.99830  1.02330  0.99220  1.00320  3.625570e+07
2023-04-30  1.00320  1.01590  0.97420  0.98070  4.341830e+07
2023-05-01  0.98070  0.98810  0.94500  0.95940  5.023667e+07

[850 rows x 5 columns]

In [6]:
# Create an instance of the exchange
exchange = ccxt.kraken()

# Define the symbol and timeframe
symbol = 'SOL/USD'
timeframe = '1d'

# Set the start and end dates
start_date = datetime.datetime(2021, 1, 1)
end_date = datetime.datetime(2023, 5, 1)

# Convert the dates to timestamps
start_timestamp = int(start_date.timestamp() * 1000)
end_timestamp = int(end_date.timestamp() * 1000)

# Fetch the OHLCV data
ohlcv_data = exchange.fetch_ohlcv(symbol, timeframe, start_timestamp, limit=1000)

# Convert the data to a DataFrame
SOL_historical = pd.DataFrame(ohlcv_data, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume'])

# Convert the timestamp column to DateTime
SOL_historical['timestamp'] = pd.to_datetime(SOL_historical['timestamp'], unit='ms')

# Set the timestamp column as the index
SOL_historical.set_index('timestamp', inplace=True)

# Perform slice indexing
SOL_historical = SOL_historical.loc[start_date:end_date]
SOL_historical

             open   high    low  close         volume
timestamp
2021-06-17  40.23  40.57  38.30  39.13    6007.618490
2021-06-18  39.14  39.36  35.00  36.62   13557.357196
2021-06-19  36.82  37.35  35.00  35.45   16986.163716
2021-06-20  35.09  35.89  31.48  35.28   38681.265775
2021-06-21  35.08  35.08  26.00  26.55   41903.613224
...           ...    ...    ...    ...            ...
2023-04-27  21.25  22.54  21.20  22.34  627799.812870
2023-04-28  22.34  23.52  22.16  23.37  384158.405972
2023-04-29  23.37  23.92  22.91  23.22  209551.439983
2023-04-30  23.19  23.99  22.71  22.72  206000.479872
2023-05-01  22.74  22.88  21.57  21.98  391108.336915

[684 rows x 5 columns]

In [7]:
# Create an instance of the exchange
exchange = ccxt.binance()

# Define the symbol and timeframe
symbol = 'AVAX/USDT'
timeframe = '1d'

# Set the start and end dates
start_date = datetime.datetime(2021, 1, 1)
end_date = datetime.datetime(2023, 5, 1)

# Convert the dates to timestamps
start_timestamp = int(start_date.timestamp() * 1000)
end_timestamp = int(end_date.timestamp() * 1000)

# Fetch the OHLCV data
ohlcv_data = exchange.fetch_ohlcv(symbol, timeframe, start_timestamp, limit=1000)

# Convert the data to a DataFrame
AVAX_historical = pd.DataFrame(ohlcv_data, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume'])

# Convert the timestamp column to DateTime
AVAX_historical['timestamp'] = pd.to_datetime(AVAX_historical['timestamp'], unit='ms')

# Set the timestamp column as the index
AVAX_historical.set_index('timestamp', inplace=True)

# Perform slice indexing
AVAX_historical = AVAX_historical.loc[start_date:end_date]
AVAX_historical

               open     high      low    close      volume
timestamp
2021-01-02   3.6544   3.9390   3.2851   3.4956  1768205.15
2021-01-03   3.5005   3.8300   3.3916   3.4691   989465.26
2021-01-04   3.4770   3.8300   3.2283   3.5999  1242545.27
2021-01-05   3.5999   4.3556   3.4703   4.2501  2403396.82
2021-01-06   4.2502   4.9773   4.1361   4.5788  2925158.25
...             ...      ...      ...      ...         ...
2023-04-27  17.1800  17.9300  17.1100  17.7200  1574922.98
2023-04-28  17.7200  17.8100  17.2100  17.5500   915809.55
2023-04-29  17.5600  17.7200  17.3300  17.4900   596818.68
2023-04-30  17.4900  17.8500  17.0700  17.1000   893876.28
2023-05-01  17.1000  17.2100  16.5100  16.6500  1160711.97

[850 rows x 5 columns]

In [8]:
# Create an instance of the exchange
exchange = ccxt.kraken()

# Define the symbol and timeframe
symbol = 'UNI/USD'
timeframe = '1d'

# Set the start and end dates
start_date = datetime.datetime(2021, 1, 1)
end_date = datetime.datetime(2023, 5, 1)

# Convert the dates to timestamps
start_timestamp = int(start_date.timestamp() * 1000)
end_timestamp = int(end_date.timestamp() * 1000)

# Fetch the OHLCV data
ohlcv_data = exchange.fetch_ohlcv(symbol, timeframe, start_timestamp, limit=1000)

# Convert the data to a DataFrame
UNI_historical = pd.DataFrame(ohlcv_data, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume'])

# Convert the timestamp column to DateTime
UNI_historical['timestamp'] = pd.to_datetime(UNI_historical['timestamp'], unit='ms')

# Set the timestamp column as the index
UNI_historical.set_index('timestamp', inplace=True)

# Perform slice indexing
UNI_historical = UNI_historical.loc[start_date:end_date]
UNI_historical

              open    high     low   close         volume
timestamp
2021-06-05  26.428  27.654  25.172  25.614   55005.431451
2021-06-06  25.623  26.413  25.398  25.869   60909.053602
2021-06-07  25.893  27.363  23.971  24.281  118770.446777
2021-06-08  24.135  24.599  20.680  23.486  151526.181559
2021-06-09  23.430  25.229  22.231  25.105  104498.040331
...            ...     ...     ...     ...            ...
2023-04-27   5.354   5.584   5.354   5.563   16676.601866
2023-04-28   5.562   5.562   5.463   5.520   11712.510849
2023-04-29   5.528   5.631   5.517   5.631    5091.137928
2023-04-30   5.627   5.667   5.449   5.449    6314.840246
2023-05-01   5.471   5.489   5.253   5.330   14575.272348

[696 rows x 5 columns]

In [9]:
# Create an instance of the exchange
exchange = ccxt.binance()

# Define the symbol and timeframe
symbol = 'AAVE/USDT'
timeframe = '1d'

# Set the start and end dates
start_date = datetime.datetime(2021, 1, 1)
end_date = datetime.datetime(2023, 5, 1)

# Convert the dates to timestamps
start_timestamp = int(start_date.timestamp() * 1000)
end_timestamp = int(end_date.timestamp() * 1000)

# Fetch the OHLCV data
ohlcv_data = exchange.fetch_ohlcv(symbol, timeframe, start_timestamp, limit=1000)

# Convert the data to a DataFrame
AAVE_historical = pd.DataFrame(ohlcv_data, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume'])

# Convert the timestamp column to DateTime
AAVE_historical['timestamp'] = pd.to_datetime(AAVE_historical['timestamp'], unit='ms')

# Set the timestamp column as the index
AAVE_historical.set_index('timestamp', inplace=True)

# Perform slice indexing
AAVE_historical = AAVE_historical.loc[start_date:end_date]
AAVE_historical

               open     high      low    close      volume
timestamp
2021-01-02   90.827   91.990   82.473   85.768  199756.529
2021-01-03   85.754   95.000   81.291   93.778  290702.541
2021-01-04   93.789  115.522   86.010  114.271  658257.708
2021-01-05  114.231  123.962   98.410  119.689  517557.043
2021-01-06  119.686  120.500  107.752  115.191  303818.954
...             ...      ...      ...      ...         ...
2023-04-27   69.400   72.100   68.800   71.400   61645.387
2023-04-28   71.400   72.300   70.100   72.100   41334.995
2023-04-29   72.200   72.800   71.300   71.800   28775.068
2023-04-30   71.800   72.600   70.200   70.200   33289.515
2023-05-01   70.200   70.800   67.600   68.900   44700.692

[850 rows x 5 columns]

In [10]:
# Create an instance of the exchange
exchange = ccxt.kucoin()

# Define the symbol and timeframe
symbol = 'MANA/USDT'
timeframe = '1d'

# Set the start and end dates
start_date = datetime.datetime(2021, 1, 1)
end_date = datetime.datetime(2023, 5, 1)

# Convert the dates to timestamps
start_timestamp = int(start_date.timestamp() * 1000)
end_timestamp = int(end_date.timestamp() * 1000)

# Fetch the OHLCV data
ohlcv_data = exchange.fetch_ohlcv(symbol, timeframe, start_timestamp, limit=1000)

# Convert the data to a DataFrame
MANA_historical = pd.DataFrame(ohlcv_data, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume'])

# Convert the timestamp column to DateTime
MANA_historical['timestamp'] = pd.to_datetime(MANA_historical['timestamp'], unit='ms')

# Set the timestamp column as the index
MANA_historical.set_index('timestamp', inplace=True)

# Perform slice indexing
MANA_historical = MANA_historical.loc[start_date:end_date]
MANA_historical

               open     high      low    close        volume
timestamp
2021-03-17  0.59400  1.15999  0.59400  1.07359  1.018771e+06
2021-03-18  1.06321  1.39999  0.96000  0.97900  7.707823e+05
2021-03-19  0.97500  1.02529  0.94525  0.96667  4.547131e+05
2021-03-20  0.96662  1.01892  0.88648  0.89221  7.277193e+05
2021-03-21  0.89717  1.04498  0.88000  0.98123  8.065720e+05
...             ...      ...      ...      ...           ...
2023-04-27  0.54189  0.56292  0.53530  0.55598  1.869494e+06
2023-04-28  0.55570  0.55759  0.53867  0.55091  8.618280e+05
2023-04-29  0.55072  0.55674  0.54572  0.55446  7.178629e+05
2023-04-30  0.55448  0.55610  0.53828  0.54288  9.570504e+05
2023-05-01  0.54255  0.55245  0.51735  0.52645  1.375808e+06

[776 rows x 5 columns]

In [11]:
# Create an instance of the exchange
exchange = ccxt.kucoin()

# Define the symbol and timeframe
symbol = 'ROUTE/USDT'
timeframe = '1d'

# Set the start and end dates
start_date = datetime.datetime(2021, 1, 1)
end_date = datetime.datetime(2023, 5, 1)

# Convert the dates to timestamps
start_timestamp = int(start_date.timestamp() * 1000)
end_timestamp = int(end_date.timestamp() * 1000)

# Fetch the OHLCV data
ohlcv_data = exchange.fetch_ohlcv(symbol, timeframe, start_timestamp, limit=1000)

# Convert the data to a DataFrame
ROUTE_historical = pd.DataFrame(ohlcv_data, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume'])

# Convert the timestamp column to DateTime
ROUTE_historical['timestamp'] = pd.to_datetime(ROUTE_historical['timestamp'], unit='ms')

# Set the timestamp column as the index
ROUTE_historical.set_index('timestamp', inplace=True)

# Perform slice indexing
ROUTE_historical = ROUTE_historical.loc[start_date:end_date]
ROUTE_historical

              open    high     low   close         volume
timestamp
2021-07-20  2.3100  3.5000  2.3100  3.0043  101929.975950
2021-07-21  3.0289  3.6940  2.8002  3.3465   41061.103148
2021-07-22  3.3467  3.6255  3.2245  3.3897   38493.345929
2021-07-23  3.3783  3.6419  3.3258  3.4820   37932.712549
2021-07-24  3.4614  3.6817  3.4001  3.6767   35164.062922
...            ...     ...     ...     ...            ...
2023-04-27  2.2290  2.2465  2.0860  2.1759  124891.105900
2023-04-28  2.1760  2.1829  2.0936  2.1584   34024.892300
2023-04-29  2.1583  2.2000  2.1018  2.1052   28822.949600
2023-04-30  2.1076  2.2757  2.0578  2.1472   95222.593000
2023-05-01  2.1420  2.1447  2.0055  2.0762  111219.042000

[651 rows x 5 columns]

In [12]:
# Create an instance of the exchange
exchange = ccxt.binance()

# Define the symbol and timeframe
symbol = 'SAND/USDT'
timeframe = '1d'

# Set the start and end dates
start_date = datetime.datetime(2021, 1, 1)
end_date = datetime.datetime(2023, 5, 1)

# Convert the dates to timestamps
start_timestamp = int(start_date.timestamp() * 1000)
end_timestamp = int(end_date.timestamp() * 1000)

# Fetch the OHLCV data
ohlcv_data = exchange.fetch_ohlcv(symbol, timeframe, start_timestamp, limit=1000)

# Convert the data to a DataFrame
SAND_historical = pd.DataFrame(ohlcv_data, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume'])

# Convert the timestamp column to DateTime
SAND_historical['timestamp'] = pd.to_datetime(SAND_historical['timestamp'], unit='ms')

# Set the timestamp column as the index
SAND_historical.set_index('timestamp', inplace=True)

# Perform slice indexing
SAND_historical = SAND_historical.loc[start_date:end_date]
SAND_historical

                open      high       low     close      volume
timestamp
2021-01-02  0.036973  0.039546  0.036414  0.038107  29435281.0
2021-01-03  0.038161  0.041500  0.036866  0.040928  39392323.0
2021-01-04  0.040936  0.043000  0.036100  0.040432  43625078.0
2021-01-05  0.040432  0.045000  0.039000  0.041700  67010639.0
2021-01-06  0.041700  0.047721  0.040832  0.044655  85860022.0
...              ...       ...       ...       ...         ...
2023-04-27  0.574700  0.595700  0.570400  0.587900  25653782.0
2023-04-28  0.588100  0.592200  0.573000  0.585700  17729816.0
2023-04-29  0.585900  0.595600  0.581700  0.590200  11741421.0
2023-04-30  0.590300  0.593800  0.572600  0.576500  14283559.0
2023-05-01  0.576500  0.580900  0.550800  0.559000  18258634.0

[850 rows x 5 columns]